html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.content {
  position: relative;
  padding-top: 272px;
  color: #fff;
  background-image: url("../images/starfield.png");
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}
