html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.content {
  position: relative;
  padding-top: 272px;
  color: #fff;
  background-image: url("../images/starfield.png");
  text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

.btn-ghost {
  color: #b4fff4;
  text-shadow: 0 0 10px #b4fff4;
  border-color: #90ccc3;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  position: relative;
  transition: all 500ms linear;
}

i img {
  position: absolute;
  transition: all 200ms linear;
}

.btn-ghost:hover i img {
  top: -2px;
}

.button-bottom {
  position: absolute;
  min-height: .7em;
  width: calc(100% + 6px);
  bottom: -10px;
  left: -3px;
  padding-top: 4px;
  background-color: transparent;
  border: 3px solid #90ccc3;
  border-radius: 0 0 3px 3px;
  transition: all 700ms linear;
}

.btn-ghost:active {
  top: 3px;
}

.btn-ghost:active .button-bottom {
  min-height: .2em;
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:hover .button-bottom {
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
  color: #b4fff4;
}
